:root{
    --pure-purple:#800080;
    --main-purple: #9146FF;
    --purple-blue: #603FEF;
    --midnight-purple:#702670;
    --light-purple:#CBC3E3;
    --deep-purple:#66023C;
    --pastel-purple:#C3B1E1;
    --purple-dark: #301934;
    --purple-secondary: #702670;
}